<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Credentials</h4>
      </div>
      <div class="modal-body">
        <h3>Supply credentials for "{{ connectionName }}"</h3>

        <form ng-submit="onSubmit()" sf-schema="schema" sf-form="form" sf-model="model">
          <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="onSubmit()" data-dismiss="modal"
                class="btn btn-primary">Go!</button>
      </div>
    </div>
  </div>
</div>
