<div class="boardcolumn">
  <div as-sortable="dragControlListeners" class="issues" ng-model="board.issues" >
    <div class="error" ng-if="error">{{ error }}</div>
    <div class="issue" as-sortable-item ng-repeat="issue in board.issues">
      <div as-sortable-item-handle>
        <div ng-show="issue.source.img" class="connectors">
          <a ng-show="issue.data.url" title="{{ issue }}"
             href="{{ issue.data.url }}" target="_self">
            <img ng-src="{{ issue.source.img }}" />
          </a>
        </div>
        <div class="assignees" ng-if="issue.data.assignee" title="{{ issue.data.assignee }}">
          {{ issue.data.assigneeInitials }}
        </div>
        <div class="lapp">
          <p ng-if="issue.data.size" class="issue_size" title="Size: {{ issue.data.size }}">
            {{ issue.data.size }}
          </p>
          <p title="{{ issue.data.title }}">
            {{ issue.data.title }}
          </p>
          <p ng-if="issue.data.prio" title="Priority: {{ issue.data.prio }}" class="prio">
            {{ issue.data.prio }}
          </p>
        </div>
      </div>
    </div>
    <div style="clear: both" />
  </div>
</div>
